.projects__container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  background-color: white;
  z-index: 2;
}

.projects__title{
  font-size: 3rem;
  margin-bottom: 5%;
}

.projects__bottom{
  display: flex;
  flex-direction: row;
  /* border: solid; */
  width: 80vw;
  height: 45vh;
}

.projects__left{
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: inherit;
  /* border: solid; */
}

.projects__left h3{
  font-size: 2rem;
  margin-bottom: 0px;
}

.projects__text{
  font-size: 1.4rem;
  padding-right: 2rem;
  margin-bottom: 5%;
}

.projects__left-button a{
  text-decoration: none;
  color: white;
  background-color: rgba(0,212,255,1);
  padding: 2%;
  margin-right: 2% !important;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.2s ease-in;
}

.projects__left-button a:hover{
  text-decoration: none;
  /* color: black; */
  font-size: 1.1rem;
  background-color: rgba(0,212,255,1);
  font-weight: 600;
  box-shadow: 0px 0px 7px 0px #a1a1a1;
}

.projects__right{
  height: inherit;
  width: 50%;
}

.projects__right-image{
  width: 100%;
  height: 100%;
  background-image: url("../../media/live-chat-photo.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: contain;
  box-shadow: 0px 0px 7px 0px #a1a1a1;
  transition: all 0.5s ease;
}

.projects__right-image:hover{
  width: 101%;
  height: 101%;
  background-image: url("../../media/live-chat-photo.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: contain;
  box-shadow: 0px 0px 30px 0px #a1a1a1;
}