.projects__container{
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  background-color: white;
  z-index: 2;
  margin-top: 5rem;
}

/* //////////////////////////////////////////////// */

.projects1__project{
  width: 90%;
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
}

.projects1__title{
  font-size: 2rem;
}

.projects1__left{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.projects1__left > h3{
  font-size: 1.3rem;
  margin: 0;
}

.projects1__desc{
  font-size: 1rem;
  color: 5px;
}    

.projects1__icons{
  margin-bottom: 1em;
}

.icon{
  font-size: 2rem;
  margin-right: 1em;
}

.projects1__left-button{
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects1__left-button a{
  text-decoration: none;
  color: white;
  background-color: rgba(0,212,255,1);
  padding: 2%;
  margin-right: 2% !important;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.projects1__left-button a:hover{
  box-shadow: 0px 0px 7px 0px #a1a1a1;
}

.projects1__right{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.projects1__right-inner{
  /* border: solid pink; */
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 7px 0px #a1a1a1;
  transition: all 0.3s ease;
}
.projects1__right-inner:hover{
  box-shadow: 0px 0px 20px 0px #a1a1a1;
}

.projects1__right-image{
  width: 100%;
}



/* //////////////////////////////////////////////// */

/* ///////////////////////////////////////////// 780 ////////////////////////////////// */

@media only screen and (min-width:  768px){

  .projects1__project{
    width: 90%;
    padding: 3rem 0;
  }

  .projects1__left > h3 {
    font-size: 1.5rem;
    margin: 0;
  }

  .projects1__desc {
    font-size: 1.5rem;
    color: 5px;
  }

  .projects1__right {
    margin-top: 2em;
  }

}

/* ///////////////////////////////////////////// 1024 ////////////////////////////////// */

@media only screen and (min-width:  1024px){
  .projects1__project{
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
  }

  .projects1__left{
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .projects1__right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projects1__left-button{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .projects1__desc {
    font-size: 1.5rem;
    color: 5px;
  }
}

/* ///////////////////////////////////////////// 1200 ////////////////////////////////// */
  
@media only screen and (min-width: 1200px){
  .projects1__project{
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
  }

  .projects1__left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .projects1__right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projects1__left-button{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
