.container{
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.content{
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: flex-start;
  position: relative;
}

.hero__language{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 0.5% 0% 0.5% 0%;
  width: fit-content;
  animation: fadeIn1 0.8s ease-in;
  margin-bottom: 10%;
}

.hero__text-en{
  font-size: 3rem;
  font-weight: 700;
  margin: 0px;
  animation: fadeIn1 0.8s ease-in;
  line-height: 4.5rem;
}
.hero__text-es{
  font-size: 3rem;
  font-weight: 700;
  margin: 0px;
  animation: fadeInes 0.8s ease-in;
  line-height: 4.5rem;
}

@keyframes fadeIn1 {
  0% {opacity:0; transform: translateX(-80px);}
  100% {opacity:1; transform: translateX(0);}
}
@keyframes fadeInes {
  0% {opacity:0; transform: translateX(-80px);}
  100% {opacity:1; transform: translateX(0);}
}

.content__span{
  margin-left: 1rem;
  background-image: -webkit-linear-gradient(0deg, rgba(110,101,255,1) 0%, rgba(0,212,255,1) 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.content__button{
  margin-top: 10% !important;
  opacity: 0;
  font-size: 1.5rem;
  animation: fadeIn 0.8s ease-in forwards;
  animation-delay: 0.8s ;
  border-image: linear-gradient( to right, #0066ff, rgb(98 226 255) ) 20 34% !important;
  padding: 0.5rem;
  transition: all 0.3s ease;
  background-color: white;
}

.content__button:hover{
  box-shadow: 0px 0px 20px 0px #b3b3b3e5;
}

@keyframes fadeIn {
  0% {opacity:0; transform: translateX(-30px);}
  100% {opacity:1; transform: translateX(0px);}
}

 /* ///////////////////////////////////////////// 780 ////////////////////////////////// */
@media only screen and (min-width:  768px){
  .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }
  
  .content{
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: flex-start;
    position: relative;
  }
  
  .hero__language{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 0.5% 0% 0.5% 0%;
    width: fit-content;
    animation: fadeIn1 0.8s ease-in;
    margin-bottom: 10%;
  }
  
  .hero__text-en{
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0px;
    animation: fadeIn1 0.8s ease-in;
    line-height: 5.5rem;
  }
  .hero__text-es{
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0px;
    animation: fadeInes 0.8s ease-in;
    line-height: 5.5rem;
  }
  
  @keyframes fadeIn1 {
    0% {opacity:0; transform: translateX(-80px);}
    100% {opacity:1; transform: translateX(0);}
  }
  @keyframes fadeInes {
    0% {opacity:0; transform: translateX(-80px);}
    100% {opacity:1; transform: translateX(0);}
  }
  
  .content__span{
    margin-left: 1rem;
    background: rgb(110,101,255);
    background-image: -webkit-linear-gradient(0deg, rgba(110,101,255,1) 0%, rgba(0,212,255,1) 79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .content__button{
    margin-top: 10% !important;
    font-size: 1.5rem;    
    opacity: 0;
    animation: fadeIn 0.8s ease-in forwards;
    animation-delay: 0.8s ;
    border: solid 2.5px !important;
    border-image: linear-gradient( to right, #0066ff, rgb(98 226 255) ) 20 34% !important;
    padding: 1rem;
    transition: all 0.3s ease;
  }
  
  .content__button:hover{
    box-shadow: 0px 0px 20px 0px #b3b3b3e5;
  }
  
  @keyframes fadeIn {
    0% {opacity:0; transform: translateX(-30px);}
    100% {opacity:1; transform: translateX(0);}
  }
}

/* ///////////////////////////////////////////// 1024 ////////////////////////////////// */
  
@media only screen and (min-width:  1024px){
  .content__button{
    margin-top: 10% !important;
    font-size: 2rem;    
    opacity: 0;
    animation: fadeIn 0.8s ease-in forwards;
    animation-delay: 0.8s ;
    border: solid 2.5px !important;
    border-image: linear-gradient( to right, #0066ff, rgb(98 226 255) ) 20 34% !important;
    padding: 2%;
    transition: all 0.3s ease;
  }
  
}

/* ///////////////////////////////////////////// 1200 ////////////////////////////////// */

@media only screen and (min-width: 1200px){
  .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }
  
  .content{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-start;
    position: relative;
  }
  
  .hero__language{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    padding: 0.5% 0% 0.5% 0%;
    width: fit-content;
    animation: fadeIn1 0.8s ease-in;
    margin-bottom: 3%;
  }
  
  .hero__text-en{
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0px;
    animation: fadeIn1 0.8s ease-in;
  }
  .hero__text-es{
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0px;
    animation: fadeInes 0.8s ease-in;
  }
  
  @keyframes fadeIn1 {
    0% {opacity:0; transform: translateX(-80px);}
    100% {opacity:1; transform: translateX(0);}
  }
  @keyframes fadeInes {
    0% {opacity:0; transform: translateX(-80px);}
    100% {opacity:1; transform: translateX(0);}
  }
  
  .content__span{
    margin-left: 2%;
    background: rgb(110,101,255);
    background-image: -webkit-linear-gradient(0deg, rgba(110,101,255,1) 0%, rgba(0,212,255,1) 79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .content__button{
    margin-top: 3rem !important;
    font-size: 1.5rem;
    animation: fadeIn 0.8s ease-in forwards;
    animation-delay: 0.8s ;
    border-image: linear-gradient( to right, #0066ff, rgb(98 226 255) ) 20 34% !important;
    padding: 1%;
    transition: all 0.3s ease;
    background-color: white;
  }
  
  .content__button:hover{
    box-shadow: 0px 0px 20px 0px #b3b3b3e5;
  }
  
  
  @keyframes fadeIn {
    0% {opacity:0; transform: translateX(-30px);}
    100% {opacity:1; transform: translateX(0);}
  }
}

/* @media only screen and (min-width:  780px) */
/* @media only screen and (min-width: 1200px) */