.footer__container{
  height: fit-content;
  width: 100%;
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  z-index: 2;
}

.footer__scroll-up{
  font-size: 3.5rem;
  transition: all 0.3s ease;
}

.footer__scroll-up:hover{
  font-size: 3.5rem;
  color: rgb(194, 194, 194);
}

.footer__social-links a{
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  margin: 0px 15px 0px 15px;
  transition: all 0.3s ease;
}

.footer__social-links a:hover{
  font-size: 2.5rem;
  text-decoration: none;
  color: rgb(194, 194, 194);
  margin: 0px 15px 0px 15px;
  
}

  /* ///////////////////////////////////////////// 1200 ////////////////////////////////// */
  
  @media only screen and (min-width: 1200px){
  .footer__container{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    z-index: 2;
  }

  .footer__scroll-up{
    font-size: 3.5rem;
    transition: all 0.3s ease;
  }

  .footer__scroll-up:hover{
    font-size: 3.5rem;
    color: rgb(194, 194, 194);
  }

  .footer__social-links a{
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
    margin: 0px 15px 0px 15px;
    transition: all 0.3s ease;
  }

  .footer__social-links a:hover{
    font-size: 2.5rem;
    text-decoration: none;
    color: rgb(194, 194, 194);
    margin: 0px 15px 0px 15px;
    
  }
}
